button{
    font-style: italic;
}
hr{
    margin: auto !important;
    width: 82%;
    height: 3px !important;
    background-color: rgb(185, 182, 182);
    border-radius: 5px;
}
.logo{
    width: 100%;
    height: 70px;
    margin: auto;
    margin-top: -15px;
}
.logo img{
    width: 100%;
    height: 70px;
    object-fit: contain;
}